//*********** ICON STYLES ***************//
.icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  mask-size: 100%;
  vertical-align: sub;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  &.icon-user{
    mask-image: url("../assets/icons/user.svg");
    -webkit-mask-image: url("../assets/icons/user.svg");
  }
  &.icon-home{
    mask-image: url("../assets/icons/Home.svg");
    -webkit-mask-image: url("../assets/icons/Home.svg");
  }
  &.icon-left-arrow{
    mask-image: url("../assets/icons/Left-arrow.svg");
    -webkit-mask-image: url("../assets/icons/Left-arrow.svg");
  }
  &.icon-right-arrow{
    mask-image: url("../assets/icons/Right-arrow.svg");
    -webkit-mask-image: url("../assets/icons/Right-arrow.svg");
  }
  &.icon-eye{
    mask-image: url("../assets/icons/Eye.svg");
    -webkit-mask-image: url("../assets/icons/Eye.svg");
  }
  &.icon-chat{
    mask-image: url("../assets/icons/Chat.svg");
    -webkit-mask-image: url("../assets/icons/Chat.svg");
  }
  &.icon-date{
    mask-image: url("../assets/icons/Date.svg");
    -webkit-mask-image: url("../assets/icons/Date.svg");
  }
  &.icon-message{
    mask-image: url("../assets/icons/Message.svg");
    -webkit-mask-image: url("../assets/icons/Message.svg");
  }
  &.icon-search{
    mask-image: url("../assets/icons/Search.svg");
    -webkit-mask-image: url("../assets/icons/Search.svg");
  }
  &.icon-phone{
    mask-image: url("../assets/icons/Phone.svg");
    -webkit-mask-image: url("../assets/icons/Phone.svg");
  }
  &.icon-photo{
    mask-image: url("../assets/icons/Photo.svg");
    -webkit-mask-image: url("../assets/icons/Photo.svg");
  }
  &.icon-video{
    mask-image: url("../assets/icons/Video.svg");
    -webkit-mask-image: url("../assets/icons/Video.svg");
  }
}
//******************* COLORS **************************//

//******************* MAIN ************************//
body{
  background-color: #FAFAFA;
  .admin-layout{
    .admin-navbar{
      height: 50px;
      background-color: #eee;
    }
    .admin-content{
      .admin-content-left{
        width: 300px;
        height: calc(100vh - 50px);
        background-color: #00AB7E;
        overflow-y: auto;
        padding: 10px 15px;
        .user-image{
          width: 50px;
          height: 50px;
          border-radius: 6px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          .icon{
            width: 25px;
            height: 25px;
          }
        }
        h5{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
        .nav{
          .nav-link{
            position: relative;
            transition: linear 0.2s;
            &:hover{
              background-color: white;
              color: black !important;
              transform: scale(1.1);
              padding-left: 40px;
              font-weight: 600;
              &:after{
                width: 5px;
              }
            }
            &:active{
              &:after{
                background-color: orangered;
              }
            }
            &:after{
              content: "";
              width: 0;
              height: 80%;
              position: absolute;
              left: 0;
              top: 10%;
              background-color: orange;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
      .admin-content-right{
        width: calc(100vw - 300px);
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }
  }
  .home-navbar{
    background-color: #FAFAFA;
    height: 60px;
    .home-logo{
      font-weight: 600;
      font-size: 20px;
      color: #008F48;
      text-decoration: none;
    }
    .input-group{
      box-shadow: 0 2px 5px lightgrey;
      width: 400px;
      .icon{
        width: 17px;
        height: 17px;
        background-color: black;
      }
    }
    .home-phone{
      border: 1px solid #008F48;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 15px;
      .icon{
        width: 16px;
        height: 16px;
        margin-right: 5px;
        background-color: #008F48;
      }
      color: #008F48;
      &:hover{
        background-color: #008F48;
        color: white;
        .icon{
          background-color: white;
        }
      }
    }
  }
  .home-header{
    height: 50px;
    .home-logo{
      background-color: #008F48;
      padding: 7px 8px 8px;
      border-radius: 10px;
      .icon{
        background-color: white;
      }
    }
    div{
      font-size: 14px;
    }
  }
  .home-carousel{
    .home-carousel-item{
      position: relative;
      .carousel-layer{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      img{
        width: 10vw;
      }
      h3{
        font-size: 5vh;
      }
    }
    .slick-next{
      right: 5%;
      &:before{
        content: url("../assets/icons/Right-arrow.svg");
        background-color: black;
        opacity: 0.5;
        padding: 10px 15px;
        border-radius: 50%;
      }
    }
    .slick-prev{
      left: 5%;
      &:before{
        content: url("../assets/icons/Left-arrow.svg");
        background-color: black;
        opacity: 0.5;
        padding: 10px 15px;
        border-radius: 50%;
      }
    }
    .slick-next, .slick-prev{
      z-index: 1;
    }
  }
  .home-news{
    padding: 0;
    .home-card{
      margin: 0 15px;
      .icon-info{
        color: rgba(0, 0, 0, 0.3);
        .icon{
          opacity: 0.6;
        }
      }
      button{
        border-radius: 10px;
        padding: 5px 30px;
        border-color: #008F48;
        color: #008F48;
        &:hover{
          background-color: #008F48;
          color: white;
        }
      }
      &:hover{
        box-shadow: 0 0 20px lightgrey;
        .font-weight-bold{
          color: #008F48;
        }
        .icon-info{
          color: rgba(0, 0, 0, 0.5);
          .icon{
            opacity: 1;
          }
        }
      }
    }
    .slick-next{
      top: -20px;
      right: 20px;
      &:before{
        color: rgba(0, 0, 0, 0.5);
        font-size: 30px;
        font-weight: 900;
      }
    }
    .slick-prev {
      top: -20px;
      right: 60px;
      margin-left: auto;
      &:before{
        color: rgba(0, 0, 0, 0.5);
        font-size: 30px;
        font-weight: 900;
      }
    }
  }
  .home-complains{
    background: linear-gradient(90deg, white, #E7E7E7);
    box-shadow: 0 4px 4px lightgrey;
    button{
      border-radius: 10px;
      padding: 5px 20px;
      border-color: #008F48;
      color: #008F48;
      &:hover{
        background-color: #008F48;
        color: white;
      }
    }
  }
  .home-media{
    .nav-tabs{
      border: none;
      width: fit-content;
      background-color: white;
      padding: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 4px lightgrey;
      .nav-item{
        margin: 0 10px;
        .nav-link{
          border: none;
          background-color: white;
          border-radius: 5px;
          padding: 10px 25px;
          color: black;
          &:hover{
            cursor: pointer;
          }
          &.active{
            background-color: #008F48;
            color: white;
          }
        }
      }
    }
    .home-mini-card{
      .card-image{
        .icon{
          display: none;
        }
      }
      .icon-info{
        color: rgba(0, 0, 0, 0.3);
        .icon{
          opacity: 0.6;
        }
      }
      &:hover{
        box-shadow: 0 0 20px lightgrey;
        .card-image{
          position: relative;
          &>img{
            filter: blur(2px);
          }
          .position-absolute{
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
              display: inline-block;
              width: 30px;
              height: 30px;
              background-color: #404040;
            }
          }
        }
        .font-weight-bold{
          color: #008F48;
        }
        .icon-info{
          color: rgba(0, 0, 0, 0.5);
          .icon{
            opacity: 1;
          }
        }
      }
    }
  }
  .home-organisations{
    .col{
      position: relative;
      .position-absolute{
        display: none;
      }
      &:hover{
        .position-absolute{
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          font-weight: 600;
          color: white;
        }
        background-color: rgba(#008F48, 0.6);
        filter: blur(1px);
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .home-footer{
    background-color: #5D5D5D;
    margin-top: 100px;
    padding: 60px 0;
    position: relative;
    a{
      text-decoration: none;
      display: block;
      margin-top: 20px;
      color: lightgrey;
      &:hover{
        color: white;
      }
    }
    .icon{
      background-color: lightgrey;
      margin-right: 10px;
    }
    &:before{
      content: "";
      width: 100%;
      height: 1px;
      background-color: #747474;
      position: absolute;
      bottom: 30px;
    }
  }
}

@media (max-width: 576px) {
  .home-carousel{
    .home-carousel-item{
      .carousel-layer{
      }
      h3{
        font-size: 3vh!important;
      }
    }
  }
}